<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span>{{ dialogAction}} Inscription</span>
        <span class="spacer"></span>
        <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="inscriptionForm">
        <div fxFlex fxLayout="column">
            <div fxLayout="row wrap">
                <mat-form-field fxFlex appearance="fill">
                    <mat-label>numero</mat-label>
                    <input matInput formControlName="numero" required readonly>
                    <mat-error *ngIf="inscriptionForm.controls.numero.touched && inscriptionForm.controls.numero.invalid">
                        <span *ngIf="inscriptionForm.controls.numero.errors.required">This field is mandatory</span>
                        <span *ngIf="inscriptionForm.controls.numero.errors.pattern">This field is invalid.</span>
                    </mat-error>
                </mat-form-field>
                <mat-form-field fxFlex appearance="fill">
                    <mat-label>annee</mat-label>
                    <input matInput formControlName="annee" required readonly>
                    <mat-error *ngIf="inscriptionForm.controls.annee.touched && inscriptionForm.controls.annee.invalid">
                        <span *ngIf="inscriptionForm.controls.annee.errors.required">This field is mandatory</span>
                        <span *ngIf="inscriptionForm.controls.annee.errors.pattern">This field is invalid.</span>
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row wrap">
                <mat-form-field class="mat-30">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dateInscription">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>

                  <mat-form-field fxFlex appearance="fill">
                    <mat-label>montant</mat-label>
                    <input matInput formControlName="montant" required>
                    <mat-error *ngIf="inscriptionForm.controls.montant.touched && inscriptionForm.controls.montant.invalid">
                        <span *ngIf="inscriptionForm.controls.montant.errors.required">This field is mandatory</span>
                        <span *ngIf="inscriptionForm.controls.montant.errors.pattern">This field is invalid.</span>
                    </mat-error>
                </mat-form-field>
                  
            </div>

            <div fxLayout="row wrap">
                <mat-form-field fxFlex appearance="fill">
                    <mat-label>anneScolaire</mat-label>
                    <mat-select formControlName="anneScolaireId" (valueChange)="selectedAnnee($event)" > 
                        <mat-option *ngFor="let anneScolaire of anneScolaires" [value]="anneScolaire.id">
                            {{anneScolaire.annee}} 
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row wrap">
                
                <mat-form-field fxFlex appearance="fill">
                    <mat-label>eleve</mat-label>
                    <mat-select formControlName="eleveId" (valueChange)="selectedNiveau($event)"> 
                        <mat-option *ngFor="let eleve of eleves" [value]="eleve.id">
                            {{eleve.nom}} {{eleve.prenom}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field fxFlex appearance="fill">
                    <mat-label>classe</mat-label>
                    <mat-select formControlName="classeId" > 
                        <mat-option *ngFor="let classe of classes" [value]="classe.id">
                            {{classe.libelle}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                
            </div>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()"
        [disabled]="!(inscriptionForm.valid && inscriptionForm.dirty)">
        <mat-icon>save</mat-icon> {{action}}
    </button>
    <button mat-raised-button color="warn" mat-dialog-close>
        <mat-icon>cancel</mat-icon>Close
    </button>
</mat-dialog-actions>



