.mat-toolbar{
    width: auto;
    margin-bottom: 10px;
}

.mat-form-field{
    padding: 5px;
}

mat-hint{
    color: red;
}

.green-snackbar {
    background: #00ff7f !important;
    color: black !important;
  }