<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span>{{ dialogAction.action}} Jours</span>
        <span class="spacer"></span>
        <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="joursForm">
        <div fxFlex fxLayout="column">
            <div fxLayout="row wrap">
                <mat-form-field fxFlex appearance="fill">
                    <mat-label>Code</mat-label>
                    <input matInput formControlName="code" required readonly>
                    <mat-error *ngIf="joursForm.controls.code.touched && joursForm.controls.code.invalid">
                        <span *ngIf="joursForm.controls.code.errors.required">This field is mandatory</span>
                        <span *ngIf="joursForm.controls.code.errors.pattern">This field is invalid.</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row wrap">
                <mat-form-field fxFlex appearance="fill">
                    <mat-label>Libelle</mat-label>
                    <input matInput formControlName="libelle" required>
                    <mat-error *ngIf="joursForm.controls.libelle.touched && joursForm.controls.libelle.invalid">
                        <span *ngIf="joursForm.controls.libelle.errors.required">This field is mandatory</span>
                        <span *ngIf="joursForm.controls.libelle.errors.pattern">This field is invalid.</span>
                    </mat-error>
                </mat-form-field>
            </div>

        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()"
        [disabled]="!(joursForm.valid && joursForm.dirty)">
        <mat-icon>save</mat-icon> {{action}}
    </button>
    <button mat-raised-button color="warn" mat-dialog-close>
        <mat-icon>cancel</mat-icon>Close
    </button>
</mat-dialog-actions>

