<nav class="navbar navbar-dark text-light" style="background-color: #673AB7 !important;color:#fff !important;">
  <a class="navbar-brand">School</a>
  <button (click)="handleLoginAction()" mat-button class="text-white">
    <mat-icon>login</mat-icon> Login
  </button>
</nav>
<body style="height: 100vh !important;margin-bottom:17% ;" >
  <mat-card>
      <mat-card-content class="text-center">Nos Résultats aux différents Examens</mat-card-content>
  </mat-card>
  <br>
  <div class="row">
      <div class="column">
          <div class="card">
              <div class="container">
                  <h2 class="title">Taux de réussite au BEPC</h2>
                  <h1 class="title button">90%</h1>
              </div>
          </div>
      </div>

      <div class="column">
          <div class="card">
              <div class="container">
                <h2 class="title">Taux de réussite au BAC I</h2>
                  <h1 class="title button">76%</h1>
              </div>
          </div>
      </div>

      <div class="column">
          <div class="card">
              <div class="container">
                <h2 class="title">Taux de réussite au BAC II</h2>
                <h1 class="title button">56%</h1>
              </div>
          </div>
      </div>
  </div>
</body>
<div class="w-100" style="width: 100vw !important;">
  <app-footer></app-footer>
</div>