<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span>{{ dialogAction}} Note</span>
        <span class="spacer"></span>
        <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography" >
    <form [formGroup]="saisirnoteForm">
        <div fxFlex fxLayout="column">
            <div fxLayout="row wrap">
                <mat-form-field fxFlex appearance="fill">
                    <mat-label>numero</mat-label>
                    <input matInput formControlName="numero" required readonly>
                    <mat-error *ngIf="saisirnoteForm.controls.numero.touched && saisirnoteForm.controls.numero.invalid">
                        <span *ngIf="saisirnoteForm.controls.numero.errors.required">This field is mandatory</span>
                        <span *ngIf="saisirnoteForm.controls.numero.errors.pattern">This field is invalid.</span>
                    </mat-error>
                </mat-form-field>
                <mat-form-field fxFlex appearance="fill">
                    <mat-label>annee</mat-label>
                    <input matInput formControlName="annee" required readonly>
                    <mat-error *ngIf="saisirnoteForm.controls.annee.touched && saisirnoteForm.controls.annee.invalid">
                        <span *ngIf="saisirnoteForm.controls.annee.errors.required">This field is mandatory</span>
                        <span *ngIf="saisirnoteForm.controls.annee.errors.pattern">This field is invalid.</span>
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row wrap">
                
                <div fxFlex appearance="fill">
                    <mat-label>Matiere</mat-label>
                    <ng-select formControlName="matiereId" > 
                        <ng-option *ngFor="let matiere of matieres" [value]="matiere.id">
                            {{matiere.libelle}} 
                        </ng-option>
                    </ng-select>
                </div>

            </div>

            <div fxLayout="row wrap">
               
                <mat-form-field fxFlex appearance="fill">
                    <mat-label>classe</mat-label>
                    <mat-select formControlName="classeId" (valueChange)="onSelectedClasse($event)"> 
                        <mat-option *ngFor="let classe of classes" [value]="classe.id" >
                            {{classe.libelle}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field fxFlex appearance="fill" style="margin-left: 7px;">
                    <mat-label>trimestre</mat-label>
                    <mat-select formControlName="session" > 
                        <mat-option *ngFor="let trimestre of trimestres" [value]="trimestre" >
                            {{trimestre}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="saisirnoteForm.controls.session.touched && saisirnoteForm.controls.session.invalid">
                        <span *ngIf="saisirnoteForm.controls.session.errors.required">This field is mandatory</span>
                        <span *ngIf="saisirnoteForm.controls.session.errors.pattern">This field is invalid.</span>
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row wrap">

                <mat-form-field fxFlex appearance="fill">
                    <mat-label>enseignant</mat-label>
                    <mat-select formControlName="enseignantId" (valueChange)="onSelectedMatiere($event)"> 
                        <mat-option *ngFor="let enseignant of enseignants" [value]="enseignant.id">
                            {{enseignant.nom}} {{enseignant.prenom}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- <mat-form-field fxFlex appearance="fill">
                    <mat-label>coefficient</mat-label>
                    <input matInput formControlName="coefficient" required readonly>
                    <mat-error *ngIf="saisirnoteForm.controls.coefficient.touched && saisirnoteForm.controls.coefficient.invalid">
                        <span *ngIf="saisirnoteForm.controls.coefficient.errors.required">This field is mandatory</span>
                        <span *ngIf="saisirnoteForm.controls.coefficient.errors.pattern">This field is invalid.</span>
                    </mat-error>
                </mat-form-field> -->
                
                
            </div>
            @if (eleves) {
                <div fxLayout="row wrap">
               <table class="table table-bordered table-responsive table-hover table-striped"  formArrayName="lsaisirNoteDtos">

                <thead class="bg-primary text-white">
                    <tr>
                        <td>Eleve</td>
                        <td>Interro</td>
                        <td>Devoir</td>
                        <td>Compos</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of getlsaisirNoteDtos.controls;let i=index" [formGroupName]="i">
                        
                        <td style="width: 100%;" class="col-12">
                            <mat-form-field fxFlex appearance="fill">
                            <mat-select  formControlName="eleveId" required readonly>
                                <mat-option *ngFor="let item of eleves" [value]="item.id" readonly>
                                    {{item.nom}} {{item.prenom}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        </td>
                        <td >
                            <input type="number" min="0" max="20" matInput class="form-control" formControlName="interro" required/>
                        </td>
                        <td >
                            <input matInput class="form-control" formControlName="devoir" required/>
                        </td>
                        <td >
                            <input matInput class="form-control" formControlName="compos" required/>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
            }
            
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()"
        [disabled]="!(saisirnoteForm.valid && saisirnoteForm.dirty)">
        <mat-icon>save</mat-icon> {{action}}
    </button>
    <button mat-raised-button color="warn" mat-dialog-close>
        <mat-icon>cancel</mat-icon>Close
    </button>
</mat-dialog-actions>








