
<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span>{{ dialogAction}} Type de note</span>
        <span class="spacer"></span>
        <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="typenoteForm">
        <div fxFlex fxLayout="column">
            <div fxLayout="row wrap">
                <mat-form-field fxFlex appearance="fill" style="margin-left: 7px;">
                    <mat-label>Libelle</mat-label>
                    <mat-select formControlName="libelle" > 
                        <mat-option *ngFor="let type of types" [value]="type" >
                            {{type}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="typenoteForm.controls.libelle.touched && typenoteForm.controls.libelle.invalid">
                        <span *ngIf="typenoteForm.controls.libelle.errors.required">This field is mandatory</span>
                        <span *ngIf="typenoteForm.controls.libelle.errors.pattern">This field is invalid.</span>
                    </mat-error>
                </mat-form-field>
            </div>

        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()"
        [disabled]="!(typenoteForm.valid && typenoteForm.dirty)">
        <mat-icon>save</mat-icon> {{action}}
    </button>
    <button mat-raised-button color="warn" mat-dialog-close>
        <mat-icon>cancel</mat-icon>Close
    </button>
</mat-dialog-actions>
