<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span>Reset Password</span>
        <span class="spacer"></span>
        <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="resetPasswordForm">
        <div fxFlex fxLayout="column">

            <mat-form-field fxFlex>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" required>
                <mat-error *ngIf="resetPasswordForm.controls.email.touched && resetPasswordForm.controls.email.invalid">
                    <span *ngIf="resetPasswordForm.controls.email.errors.required">This field is mandatory.</span>
                    <span *ngIf="resetPasswordForm.controls.email.errors.pattern">This field is invalid</span>
                </mat-error>
            </mat-form-field>
            
            <mat-form-field fxFlex>
                <mat-label>Code</mat-label>
                <input matInput formControlName="code" required>
                <mat-error *ngIf="resetPasswordForm.controls.code.touched && resetPasswordForm.controls.code.invalid">
                    <span *ngIf="resetPasswordForm.controls.code.errors.required">This field is mandatory.</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex>
                <mat-label>New Password</mat-label>
                <input matInput formControlName="newPassword" required [type]="newPassword?'password' : 'text'">
                <button type="button" mat-icon-button matSuffix (click)="newPassword=!newPassword" [attr.aria.label]="'Hide password'" [attr.aria.pressed]="newPassword">
                    <mat-icon>{{newPassword? 'visibility_off': 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="resetPasswordForm.controls.newPassword.touched && resetPasswordForm.controls.newPassword.invalid">
                    <span *ngIf="resetPasswordForm.controls.newPassword.errors.required">This field is mandatory.</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex>
                <mat-label>confirm Password</mat-label>
                <input matInput formControlName="confirmPassword" required [type]="confirmPassword?'password' : 'text'">
                <button type="button" mat-icon-button matSuffix (click)="confirmPassword=!confirmPassword" [attr.aria.label]="'Hide password'" [attr.aria.pressed]="confirmPassword">
                    <mat-icon>{{confirmPassword? 'visibility_off': 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="resetPasswordForm.controls.confirmPassword.touched && resetPasswordForm.controls.confirmPassword.invalid">
                    <span *ngIf="resetPasswordForm.controls.confirmPassword.errors.required">This field is mandatory.</span>
                </mat-error>
                <mat-hint  *ngIf="validateSubmit() && !(resetPasswordForm.controls.confirmPassword.invalid)">
                    <span> New password & confirm password does not match.</span>
                </mat-hint>
            </mat-form-field>

        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" type="submit" (click)="handlepasswordResetSubmit()" [disabled]="validateSubmit() || !(resetPasswordForm.valid && resetPasswordForm.dirty)">
        <mat-icon>save</mat-icon> Reset Password
    </button>
    <button mat-raised-button color="warn" mat-dialog-close>
        <mat-icon>cancel</mat-icon> close
    </button>
</mat-dialog-actions>




